In [8]:
import ast

import pandas as pd

# Advent Calendar Day 1: How AI Agents Improve Naive Chatbots by Asking Clarifying Questions

This December, we're highlighting the limitations of simple AI chatbots in online retail and demonstrating how **AI agents** enhance customer interactions.

Each day, we'll explore a common challenge faced by naive Retrieval Augmented Generation (RAG) chatbot systems and show how AI agents overcome them. 

Todays topic is about how AI agents improve naive chatbots by asking clarifying questions.

![Cover image](images/1_dec/1_dec_cover.png "Cover image")

# Introducing SoleMates

***SoleMates*** is a fictional online shoe store that we'll use as a practical example throughout this tutorial.

We’ll explore interactions between customers and chatbots at SoleMates, highlighting the differences between basic chatbots and advanced AI agents.

![SoleMates Illustration](images/solemates.png)

## Today's Challenge: No Reflection - Simple Chatbots Can't Infer from Context

### Scenario

A customer initiates a chat with **SoleMates**:

**Customer:** "I need shoes for a black-tie event"

![A customer initiates a chat with SoleMates](images/1_dec/3_customer_black_tie.png)

# Load Shoe Data

Let’s start by reading the SoleMates shoe dataset. This dataset contains detailed product information, such as shoe colors and heel heights, which we’ll transform into embeddings and store in a cloud-based Pinecone vector database.

In [9]:
# Load the SoleMates shoe dataset
df_shoes = pd.read_csv('solemates_shoe_directory.csv')

# Convert 'color_details' from string representation of a list to an actual list
df_shoes['color_details'] = df_shoes['color_details'].apply(ast.literal_eval)

# Ensure 'heels_height' is treated as a nullable integer type
df_shoes['heels_height'] = df_shoes['heels_height'].astype('Int64')

# Display the first few rows of the dataset
df_shoes.head()

,product_id,gender,category,sub_category,product_type,color,color_details,usage,product_title,image,price_usd,heels_height
0,1,men,footwear,shoes,sports shoes,black,[neon green],sports,Adidas men eqt nitro fashion black sports shoes,1.jpg,120,<NA>
1,2,men,footwear,shoes,sports shoes,black,[white],sports,Puma men's yugorun black white shoe,2.jpg,50,<NA>
2,3,men,footwear,shoes,boots,black,[],casual,Timberland men black casual shoes,3.jpg,60,<NA>
3,4,men,footwear,shoes,casual shoes,black,[],casual,Provogue men black shoes,4.jpg,125,<NA>
4,5,men,footwear,shoes,formal shoes,black,[],formal,Lee cooper men black shoe,5.jpg,155,<NA>